@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');
@import 'colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

p {
    margin-bottom: 15px;
}

#header, #footer, #body {
    width: 100%;
}

#header, #footer {
    background: $blue;
}

.wrapper {
    padding: 20px 0;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
}

.between {
    justify-content: space-between;
}

.center-items {
    align-items: center;
}

.page-title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: $dark-blue;
    padding: 15px 0;
}

.main-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;

    img {
        width: 60%;
    }

    &:not(.large) img {
        width: 40%;
    }
}

.full-width {
    width: 100%;
}

.block {
    background: $white;
    box-shadow: -1px 1px 5px 0 rgba(0,0,0,0.25);
    margin-bottom: 50px;
    padding: 15px 15px 0;
}

.about {
    padding: 20px 15px;
    font-size: 16px;
}